{{#each posts as |post|}}


<tr><td>{{post.track_name}}</td><td>{{post.artists_name}}</td><td>{{post.user.name}}</td><td><a href="/blogpost/{{post.id}}">{{post.name}}</a></td><td>{{post.description}}</td><td>{{post.commentCount}}</td></tr>

{{/each}}



