{{#if posts.length}}
<div>
  {{#each posts as |post|}}
<div class="post-wrapper">
  <div class="card post-card">
    <div class="post-title-card">
      <div class="post-img-card">
        <img src="{{post.image}}" alt="">
      
      </div>
      <p>
        {{post.track_name}}
        {{post.artists_name}}
        {{post.playlist_name}}
      </p>
    </div>
    <p class="text-lg"><strong> {{post.name}}</strong></p>
    <p>{{post.description}}</p>
    <p class="timestamp">{{post.date_created}}</p>

  </div>
    <div class="commentBtn-wrapper">
    <button class="commentBtn" id="postComment" data-id="{{post.id}}">Comment</button>
  </div>

</div>
  {{/each}}
  {{else}}
  <p>There are no posts yet.</p>
</div>
{{/if}}


