
{{> nav}}
{{!-- <h2>This is the Blogpost section</h2> --}}
<section>
    <div class="card post-card">
      <div class="post-card-header">
        <div class="post-img-card">
          <img src="{{image}}" alt="{{track_name}}{{artists_name}}{{playlist_name}}">
        </div>
        <div class="post-card-header-title">
          {{!-- <span class="icon">&#9830;</span> --}}
          <h3>
            {{track_name}}
            {{artists_name}}
            {{playlist_name}}
          </h3>
          <p><strong> {{name}}</strong></p>

        </div>
          <p class="post-description">{{description}}</p>
      </div>

      <div class="post-card-footer">
        <p class="timestamp">Posted by {{user.name}} on {{format_date date_created}}</p>

      </div>
    </div>
</section>
  <h2>The Crowd</h2>
<section>
  
    {{> blogcomments}}
    <form >
        <div class="form-group">
      <strong>
        <p>Throw your comment into the crowd</p>
      </strong>
      <label for="comment">Comment: </label>
      <textarea name="comment" id="comment" cols="auto" rows="6"></textarea>
              <button class="btn btn-warning me-2" id="postComment">Save Comment</button>
              </div>
    </form>


</section>







<script src="/js/comment.js"></script>